body{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    border: 10px solid rgb(226, 41, 41);
    color: rgb(212, 192, 11);
    padding: 10px;


border-width: 10px;
    border-style: solid;
    border-color:rgb(226, 21, 21) ;

}
  




    
