.parent{
    height: 400px;
    width: 400px;
    background-color: brown;
    position: relative;}

.one{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    right: 0;



}



zindex me 2 jgha daal kr jise bada rkhoge vo upper rahega