body{
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: rgb(2, 50, 139);
    color: rgb(20, 255, 118);
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 1o0px;
    border: 10px solid black;
    display: inline-block;
}